.our-services-card-height{
    height: 420px;
}
.owl-carousel.owl-carousel-partners img{
    width: 60%;
}
.about-us-img{
    width: 100%;
    height: 100%;
}
.our-work-text-color{
    color: grey;
}
.block-for-mobile{
    display: none;
}
.block-for-web{
    display: block;
}
.country-flag img{
    width: 30px;
    height: 20px;
    border-radius: 3px;
}
@media (max-width: 991px) {
	.block-for-mobile{
        display: block;
    }
    .block-for-web{
        display: none;
    }
  }


.nav-slash{
	display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
	margin: 0 5px;
	color: #FFFFFF !important;
	text-transform: none;
    font-weight: 500;
    font-size: 14px;
}
#header #nav-language{
	display: flex;
}
#header #nav-language a{
	color: #FFFFFF !important;
	cursor: pointer;
}
#header #nav-language a:hover{
	color: #393185 !important;
}
@media (max-width: 991px) {
	.nav-slash{
		display: none;	
	}	
	#header #nav-language{
		display: none;	
	}	
}